/* ========================================================================================== */
/*  COLORS
/* ========================================================================================== */

/* ============================== */
/*  Site Colors
/* ============================== */
$primary: #bf2e1a;
$secondary: #2b2b2b;
$link: #b1a585;
$black: #000;
$white: #fff;
$medium-gray: #807e7a;
$dark-gray: #474444;

