ul,
ol {
	padding-left: 20px;
	margin-bottom: 20px;

	li {
		margin-bottom: 5px;
	}
}

sup {
	margin-left: 2px;
}

img {
	max-width: 100%;
}

hr {
	margin-bottom: 20px;
}

.main {
	padding:175px 0;
}
.image-wrap {
    border: 3px solid #ffffff;
    padding: 16px 22px 22px 16px;
}